body {
  background-image: url(/image/dark-low-poly-background_1048-7971.webp);
//   background-repeat: no-repeat;
  background-size: contain;
  min-height: 500px;

  h3 {
    padding: 20% 40% 40% 40%;
    color: white;
    width: 300px;
    span{
        color: rgb(255, 196, 0);
    }
  }
}
